.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.btn-proceed {
    background: #FF9900;
    border-radius: 4px;
    color: white;
    width: 90%;
    margin: 10px auto;
    height: 56px;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

}
.link-proceed{
    text-decoration: none;
}